<div class="navbar-fixed">
  <nav class="blue">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo left">Lanches</a>
      <a data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons right">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/client/login" class="white-text waves-effect btn-flat">login</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul id="mobile-demo" class="sidenav">
  <li><a href="/client/login" class="black-text waves-effect btn-flat">login</a></li>
</ul>