<div class="navbar-fixed">
  <nav class="amber darken-1">
    <div class="nav-wrapper container">
      <a href="/admin/adminInit" class="brand-logo left"><img src="/img/lanches.jpg" class="imgNav" /></a>
      <a data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons right">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/admin/adminIndex" class="black-text waves-effect btn-flat">Lanches</a></li>
        <li><a href="/admin/adminManage" class="black-text waves-effect btn-flat">Admins</a></li>
        <li><a href="/client/logout" class="black-text waves-effect btn-flat">Sair</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul id="mobile-demo" class="sidenav #ffb30099">
  <li><a href="/admin/adminIndex" class="black-text waves-effect btn-flat">Lanches</a></li>
  <li><a href="/admin/adminManage" class="black-text waves-effect btn-flat">Admins</a></li>
  <li><a href="/client/logout" href="" class="black-text waves-effect btn-flat">Sair</a></li>
</ul>