{{#if Valid}}
{{>headerCL}}
{{else}}
{{>headerSL}}
{{/if}}
<div class="container">
  <div class="row">
    <div class="sessao col s12">
      <h1>Obrigado pela preferência!</h1>
      <a href="/" id="btnFinal" class="black white-text waves-effect waves-white" >voltar ao início</a>
    </div>
  </div>
</div>